@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}
<head>
    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />
</head>

@{
    var selectList = new SelectList(
        new List<SelectListItem>
        {
            new SelectListItem {Text = "Google", Value = "Google"},
            new SelectListItem {Text = "Other", Value = "Other"},
                                                }, "Value", "Text");
}

<div class="container-fluid">
    <h4>Do you want to send those articles?</h4>
</div>

<div class="container-fluid">
    @ViewBag.number x @ViewBag.name
</div>

@using (Html.BeginForm("Check", "Laptop", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="container-fluid">

    <p>Where do you want to send those articles?</p>

    @Html.DropDownList("ddlList")


</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                
                    <input type="submit" value="Yes" class="btn btn-primary" />
                
            </div>
        </div>
    </div>

}


<div class="container-fluid">
    @Html.ActionLink("Back to List", "Index")
</div>


