@model PagedList.IPagedList<Warehouse.Models.LaptopModels>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>


<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="#">@Html.ActionLink("Create", "Create", "Laptop") </a></li>
        </ol>
    </nav>
    @using (Html.BeginForm("DeleteList", "Laptop", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            <label style="padding-left:10px;">
                <a href="@Url.Action("DescNameDelete","OrderByLaptop")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                </a>

                <a href="@Url.Action("AscNameDelete","OrderByLaptop")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                </a>
            </label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Quantity)
            <label style="padding-left:10px;">
                <a href="@Url.Action("DescQuantityDelete","OrderByLaptop")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                </a>

                <a href="@Url.Action("AscQuantityDelete","OrderByLaptop")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                </a>
            </label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
            <label style="padding-left:10px;">
                <a href="@Url.Action("DescPriceDelete","OrderByLaptop")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                </a>

                <a href="@Url.Action("AscPriceDelete","OrderByLaptop")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                </a>
            </label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "Laptop", new { id = item.ID }, null)
            </td>
        </tr>
    }

</table>


<div class="container">

    Page @(ViewBag.pageCount < ViewBag.pageNumber ? 0 : ViewBag.pageNumber) of @ViewBag.pageCount

    @Html.PagedListPager(Model, page => Url.Action("DeleteList", "Laptop",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    @Html.ActionLink("Back to List", "Index", "Laptop")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}