@model Warehouse.Models.LaptopModels

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>


<div class="container-fluid">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
            <label style="padding-left:10px;">
                <a href="@Url.Action("DescNameDelete","OrderByLaptop")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                </a>

                <a href="@Url.Action("AscNameDelete","OrderByLaptop")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                </a>
            </label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
            <label style="padding-left:10px;">
                <a href="@Url.Action("DescQuantityDelete","OrderByLaptop")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                </a>

                <a href="@Url.Action("AscQuantityDelete","OrderByLaptop")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                </a>
            </label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
            <label style="padding-left:10px;">
                <a href="@Url.Action("DescPriceDelete","OrderByLaptop")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                </a>

                <a href="@Url.Action("AscPriceDelete","OrderByLaptop")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                </a>
            </label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.laptop)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<div class="container">
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}