@model Warehouse.Models.LaptopModels


@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}
<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />

</head>


<div>
    <h4>Laptop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.OS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Savings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Savings)
        </dd>

        <dt>
            Laptop transfered:
        </dt>

        <dd>
            @ViewBag.storeName
        </dd>
    </dl>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
