@model Warehouse.Models.LaptopModels

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")

    <head>

        <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />

    </head>
}

<div>
    <h4>Laptop for sending</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        @* <br />*@
        <dd>
            <p>
                @Html.ActionLink("Check", "Check", new { id = Model.ID, name = Model.Name, quantity = Model.Quantity })
            </p>
            <p>
                @Html.ActionLink("Back to List", "Index")
            </p>
        </dd>

    </dl>
</div>


