@model Warehouse.Models.TaskListModels

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />

    <style>
        #more {
            display: none;
        }

        #more2 {
            display: none;
        }
    </style>

</head>


<div class="container-fluid">
    <h1>Details about task</h1>

    <div class="form-horizontal container-fluid">

        @using (Html.BeginForm("Details", "TaskList", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">

                @Html.HiddenFor(x => x.ID)
            </div>

            <div class="form-group">

                @Html.LabelFor(x => x.Details, new { style = "font-weight:bold;" }):
                @Html.DisplayFor(x => x.Details)

            </div>


            <div class="form-group">

                @Html.LabelFor(x => x.Status, new { style = "font-weight:bold;" }):
                @Html.DisplayFor(x => x.Status)
            </div>

            <div class="form-group">

                @Html.LabelFor(x => x.User, new { style = "font-weight:bold;" }):
                @Html.DisplayFor(x => x.User)
            </div>


            <div class="form-group">
                @Html.LabelFor(x => x.Assistant1, new { style = "font-weight:bold;" }):
                @Html.DropDownList("assistant1", null, string.Empty, new { @class = "form-control" })

                <p style="font-weight:bold;color:darkred">Last change:  @TempData["assistant1"]</p>






                <a class="nav-link active" id="assistants" name="assistants" data-toggle="assistants" href="#assistants" role="tab" aria-controls="assistants" aria-selected="true" onclick=hideAllInfo() style="padding-left:0px">More assistants</a>


            </div>

            <div id="more" name="more">



                <div class="form-group">
                    @Html.LabelFor(x => x.Assistant2, new { style = "font-weight:bold;" }):
                    @Html.DropDownList("assistant2", null, string.Empty, new { @class = "form-control" })

                    <p style="font-weight:bold;color:darkred">Last change: @TempData["assistant2"]</p>

                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Assistant3, new { style = "font-weight:bold;" }):
                    @Html.DropDownList("assistant3", null, string.Empty, new { @class = "form-control" })

                    <p style="font-weight:bold;color:darkred">Last change:  @TempData["assistant3"]</p>
                </div>
            </div>

            <div class="form-group">

                <h6>Add file to task:</h6>
                <span><input type="file" name="postedFile" /></span>
            </div>

            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-primary" id="btnUpload" />
            </div>





        }

        <a class="nav-link active" id="documents" name="documents" data-toggle="documents" href="#documents" role="tab" aria-controls="assistants" aria-selected="true" onclick=hideAllInfo2() style="padding-left:0px">More documents</a>


    </div>

</div>


@using (Html.BeginForm("DownloadFile", "TaskList", FormMethod.Post))
{
    <input type="hidden" id="hfFileId" name="FileId" />
    @*<input type="hidden" id="hfFileId2" name="FileId2" />*@

    <input type="submit" id="btnDownload" value="Download" style="display:none" />
    @*<input type="submit" id="btnDelete" value="Delete" style="display:none" />*@
}
@*<hr />*@

@using (Html.BeginForm("DeleteFile", "TaskList", FormMethod.Post))
{
    @*<input type="hidden" id="hfFileId" name="FileId" />*@
    <input type="hidden" id="hfFileId2" name="FileId2" />

    @*<input type="submit" id="btnDownload" value="Download" style="display:none" />*@
    <input type="submit" id="btnDelete" value="Delete" style="display:none" />
}



<div class="container-fluid" style="padding-top:0px !important" id="more2" name="more2">
    <div class="form-horizontal container-fluid">
        <div class="form-group">
            <h5>Document info:</h5>
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        @Html.LabelFor(x => x.UploadName, new { style = "font-weight:bold;" }):
                        @Html.DisplayFor(x => x.UploadName)
                        <a href="javascript:;" onclick="DownloadFile(@TempData["id"])">Download</a> |
                        <a href="javascript:;" onclick="DeleteFile(@TempData["id"])">Delete</a>
                    </td>
                </tr>
            </table>
            @Html.ActionLink("Back to List", "MyList", "", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    function DownloadFile(FileId) {
        $("#hfFileId").val(FileId);
        $("#btnDownload")[0].click();
    };
    function DeleteFile(FileId2) {
        $("#hfFileId2").val(FileId2);
        $("#btnDelete")[0].click();
    };
</script>

<script>
    function hideAllInfo() {
        $("#more").show();
    }
    function hideAllInfo2() {
        $("#more2").show();
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}