@model Warehouse.Models.TaskListModels


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}


<div class="container-fluid">

    @using (Html.BeginForm("Create", "TaskList"))
    {
        @Html.AntiForgeryToken()

        <div class="container-fluid">
            <h1>Create new task</h1>
        </div>
        <div class="container-fluid">
            <h4>Task details</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <div class="container-fluid">
                    Task creator:
                </div>
                <div class="col-md-10">

                    @Html.TextBoxFor(model => model.User, new { @Value = ViewBag.user })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    @Html.TextAreaFor(m => m.Details, 10, 40, null)
                    @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }


    <div class="container-fluid" style="margin-left:15px">
        @Html.ActionLink("Back to List", "MyList")
    </div>
    <div class="container-fluid" style="margin-left:15px">
        @Html.ActionLink("Back to start","Index","StartPage")
    </div>
</div>
