@model Warehouse.Models.TaskListModels

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
}


<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />

</head>


<div class="container-fluid">
    <h1>List of all tasks</h1>
    <p>
        @Html.ActionLink("Create New", "Index","TaskList")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
                <label style="padding-left:10px;">
                    <a href="@Url.Action("DescIDList","OrderByTask")">
                        <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                    </a>

                    <a href="@Url.Action("AscIDList","OrderByTask")">
                        <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                    </a>
                </label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
                <a href="@Url.Action("DescStatusList","OrderByTask")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                </a>

                <a href="@Url.Action("AscStatusList","OrderByTask")">
                    <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                </a>
            </th>
            <th></th>
        </tr>

        @foreach(var item in Model.task)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }

    </table>


    @Html.ActionLink("Back to List", "MyList","TaskList")

</div>