@model IEnumerable<Warehouse.Models.TaskListModels>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />

</head>

<div class="container-fluid">
    <h1>
        My task list
    </h1>
    <bt></bt>
    <h4>List of tasks that needs to be done</h4>
    <h6>Click on Task to see more details.</h6>
    <h4> @Html.ActionLink("All tasks", "List") </h4>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("MyList", "TaskList", new { id = item.ID }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()



            <table class="table">
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Details)*@
                        @Html.ActionLink("Task", "Details", "TaskList", new { Id = item.ID }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>
                    <td>

                        @Html.CheckBoxFor(modelItem => item.Status, new { @class = "", Name = "status" })

                    </td>
                    <td>
                        <input type="submit" value="Change" class="btn" style="color:darkred;font-weight:bold" />
                    </td>

                </tr>

            </table>



        }
    }

    <div class="container">
      
            @Html.ActionLink("Back", "Index","", new { @class = "btn btn-primary" })
      
    </div>
</div>