@model Warehouse.Models.LogModels

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
}
<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />

</head>


<div class="container-fluid">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="laptop-tab" name="laptop-tab" data-toggle="tab" href="#laptop" role="tab" aria-controls="laptop" aria-selected="true" onclick=hideAllInfo()>Laptop</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="store-tab" data-toggle="tab" href="#store" role="tab" aria-controls="store" aria-selected="false" onclick="hideAllInfo()">Store</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="transfer-tab" data-toggle="tab" href="#transfer" role="tab" aria-controls="transfer" aria-selected="false" onclick="hideAllInfo()">Transfer</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="false" onclick="hideAllInfo()">Search</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="searchNotFound-tab" data-toggle="tab" href="#searchNotFound" role="tab" aria-controls="searchNotFound" aria-selected="false" onclick="hideAllInfo()">Not found</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false" onclick="hideAllInfo()">User</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="false" onclick="hideAllInfo()">Admin console</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="access-tab" data-toggle="tab" href="#access" role="tab" aria-controls="access" aria-selected="false" onclick="hideAllInfo()">Access</a>
        </li>
    </ul>
    <div class="container-fluid" id="hide" name="hide">
        <p>Here are logs for all crucial parts in this applications:</p>
        <p>Check Laptop, Store, Transfer, Search, Not Found, New user, Admin, Access Logs.</p>
        <p>More logs coming soon.</p>
    </div>
</div>

<div class="tab-content container-fluid" id="myTabContent">
    <div class="tab-pane fade" id="laptop" role="tabpanel" aria-labelledby="laptop-tab">

        <div class="container-fluid">
            <h1>Logs for warehouse - Laptop</h1>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                        <label style="padding-left:10px;">
                            <a href="@Url.Action("DescDate1","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                            </a>

                            <a href="@Url.Action("AscDate1","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                            </a>
                        </label>

                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.logs1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)

                        </td>
                    </tr>
                }

            </table>


        </div>


    </div>
    <div class="tab-pane fade" id="store" role="tabpanel" aria-labelledby="store-tab">

        <div class="container-fluid">
            <h1>Logs for warehouse - Store</h1>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                        <label style="padding-left:10px;">
                            <a href="@Url.Action("DescDate2","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                            </a>

                            <a href="@Url.Action("AscDate2","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                            </a>
                        </label>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.logs2)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                    </tr>
                }

            </table>



        </div>
    </div>
    <div class="tab-pane fade" id="transfer" role="tabpanel" aria-labelledby="transfer-tab">
        <div class="container-fluid">
            <h1>Logs for warehouse - Transfer</h1>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                        <label style="padding-left:10px;">
                            <a href="@Url.Action("DescDate3","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                            </a>

                            <a href="@Url.Action("AscDate3","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                            </a>
                        </label>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.logs3)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
        <div class="container-fluid">
            <h1>Logs for warehouse - Search</h1>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                        <label style="padding-left:10px;">
                            <a href="@Url.Action("DescDate4","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                            </a>

                            <a href="@Url.Action("AscDate4","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                            </a>
                        </label>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.logs4)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="searchNotFound" role="tabpanel" aria-labelledby="searchNotFound-tab">
        <div class="container-fluid">
            <h1>Logs for warehouse - Search not found</h1>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                        <label style="padding-left:10px;">
                            <a href="@Url.Action("DescDate5","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                            </a>

                            <a href="@Url.Action("AscDate5","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                            </a>
                        </label>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.logs5)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
        <div class="container-fluid">
            <h1>Logs for warehouse - New user</h1>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                        <label style="padding-left:10px;">
                            <a href="@Url.Action("DescDate6","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                            </a>

                            <a href="@Url.Action("AscDate6","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                            </a>
                        </label>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.logs6)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)

                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

    <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
        <div class="container-fluid">
            <h1>Logs for warehouse - Admin console</h1>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                        <label style="padding-left:10px;">
                            <a href="@Url.Action("DescDate7","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                            </a>

                            <a href="@Url.Action("AscDate7","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                            </a>
                        </label>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.logs7)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

    <div class="tab-pane fade" id="access" role="tabpanel" aria-labelledby="access-tab">
        <div class="container-fluid">
            <h1>Logs for warehouse - Access logs</h1>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                        <label style="padding-left:10px;">
                            <a href="@Url.Action("DescDate8","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                            </a>

                            <a href="@Url.Action("AscDate8","OrderByLog")">
                                <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                            </a>
                        </label>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.logs8)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>


</div>


<div class="container-fluid" style="margin-left:15px">
    @Html.ActionLink("Go back", "Index", "StartPage")
</div>

<script>
    function hideAllInfo() {
        $("#hide").hide();
        //alert('a_onClick');
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}