@model Warehouse.Models.AdminModels


@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />
</head>

<div class="container-fluid">

    @using (Html.BeginForm("Access", "Admin", new { Id = Model.ID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <h4>Access for Warehouse</h4>


        <div class="container-fluid">

            @Html.Label("Admin access")


            @Html.CheckBoxFor(x => x.Access, new { id = "access" })



        </div>

        <div class="container-fluid">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>


    }

  


</div>

<div class="container-fluid">


    @using (Html.BeginForm("LaptopAccess", "Admin", new { Id = Model.ID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="container-fluid">

            @Html.Label("Laptop access")


            @Html.CheckBoxFor(x => x.LaptopAccess, new { id = "laptopAccess" })



        </div>

        <div class="container-fluid">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>


    }

</div>


<div class="container-fluid">

    @using (Html.BeginForm("LogAccess", "Admin", new { Id = Model.ID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="container-fluid">

            @Html.Label("Log access")


            @Html.CheckBoxFor(x => x.LogAccess, new { id = "logAccess" })



        </div>

        <div class="container-fluid">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>


    }



</div>


<div class="container-fluid">


    @using (Html.BeginForm("SearchAccess", "Admin", new { Id = Model.ID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="container-fluid">

            @Html.Label("Search access")


            @Html.CheckBoxFor(x => x.SearchAccess, new { id = "searchAccess" })



        </div>

        <div class="container-fluid">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>


    }

</div>



<div class="container-fluid">
    @using (Html.BeginForm("StoreAccess", "Admin", new { Id = Model.ID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="container-fluid">

            @Html.Label("Store access")


            @Html.CheckBoxFor(x => x.StoreAccess, new { id = "storeAccess" })



        </div>

        <div class="container-fluid">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>


    }
</div>

<div class="container-fluid">
    @using (Html.BeginForm("TransferAccess", "Admin", new { Id = Model.ID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="container-fluid">

            @Html.Label("Transfer access")


            @Html.CheckBoxFor(x => x.TransferAccess, new { id = "transferAccess" })



        </div>

        <div class="container-fluid">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>


    }
</div>

<div class="container-fluid">
    @using (Html.BeginForm("TaskAccess", "Admin", new { Id = Model.ID }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="container-fluid">

            @Html.Label("Task access")


            @Html.CheckBoxFor(x => x.TaskAccess, new { id = "taskAccess" })



        </div>

        <div class="container-fluid">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>


    }
</div>

