@model Warehouse.Models.ProcurementModels

@{
        Layout = "~/Views/Shared/_LayoutApplication.cshtml";
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<head>
    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />
</head>


<div class="container-fluid">
    <h1>New request was sent to @ViewBag.supplier </h1>
</div>

<div class="container-fluid">
    @Html.LabelFor(m => m.InvoiceNo)
    @ViewBag.invoiceNo
</div>

<div class="container-fluid">
    @Html.LabelFor(m => m.Quantity):
    @ViewBag.quantity
</div>

<div class="container-fluid">
    @Html.LabelFor(m => m.Computer):
    @ViewBag.computer
</div>

<div class="container-fluid">
    @Html.LabelFor(m => m.RequestDate):
    @ViewBag.date
</div>
<div class="container-fluid">
    <h6>Your request for procurement has been submited.</h6>
</div>

@using (Html.BeginForm("DownloadInvoiceNo", "Procurement", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <input type="submit" value="Download document" class="btn btn-primary" />
    </div>
}


<div class="container-fluid">
    @Html.ActionLink("Back", "CreateInvoice", "Procurement")
</div>
