@model IEnumerable<Warehouse.Models.StoreModels>

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />

</head>


<div class="container-fluid">

    <h1>Store manager</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="#">@Html.ActionLink("Create", "Create", "Store") </a></li>
            <li class="breadcrumb-item"><a href="#"> @Html.ActionLink("List", "List", "Store")</a></li>
            <li class="breadcrumb-item"><a href="#">@Html.ActionLink("Edit", "EditList", "Store")</a></li>
            <li class="breadcrumb-item active" aria-current="page"> @Html.ActionLink("Delete", "DeleteList", "Store")</li>
        </ol>
    </nav>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QoP)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QoP)
                </td>
                <td>
                    @Html.ActionLink("Details", "List", new { id = item.ID })
                </td>
            </tr>
        }

    </table>



    <button type="button" onclick=myFunction2() id="hide" class="btn btn-info">Info</button>
    <p id="laptopInfo"></p>

    <div>
        @Html.ActionLink("Go back", "Index", "StartPage")
    </div>


</div>


<script>

    function myFunction2() {
        var store = "@ViewBag.store";
        var location = "@ViewBag.location";
        var date = "@ViewBag.date";
        document.getElementById("laptopInfo").innerHTML = "Last store was inserted on " + store + ", " + location + ", on " + date + ".";
        $("#laptopInfo").css({ "color": "darkred", "font-size": "110%", "font-weight": "bold", "padding-top": "15px" });
        $("#hide").click(function () {
            $("#laptopInfo").hide();
        });

    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}