@model Warehouse.Models.StoreModels

@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}

<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>


<div class="container-fluid">
    <h4>List of Stores</h4>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
                <label style="padding-left:10px;">
                    <a href="@Url.Action("DescNameList","OrderByStore")">
                        <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                    </a>

                    <a href="@Url.Action("AscNameList","OrderByStore")">
                        <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                    </a>
                </label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
                <label style="padding-left:10px;">
                    <a href="@Url.Action("DescLocationList","OrderByStore")">
                        <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                    </a>

                    <a href="@Url.Action("AscLocationList","OrderByStore")">
                        <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                    </a>
                </label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
                <label style="padding-left:10px;">
                    <a href="@Url.Action("DescZipcodeList","OrderByStore")">
                        <i style='font-size:15px;color:black' class='fas'>&#xf107;</i>
                    </a>

                    <a href="@Url.Action("AscZipcodeList","OrderByStore")">
                        <i style='font-size:15px;color:black' class='fas'>&#xf106;</i>
                    </a>
                </label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingTime)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.store)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkingTime)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit","Store", new { id = item.ID }, null)
                </td>
            </tr>
        }

    </table>

    <div>
        @Html.ActionLink("Back to List", "Index","Store")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}