@model List<Warehouse.Helpers.SearchIndex>


@*@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}*@

<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />

</head>


<div class="container-fluid">
    <h1>Details about @TempData["searchName"]</h1>
</div>

<div class="container-fluid">
    <p>
        Search item @TempData["searchName"] does not exist in database!
    </p>
</div>

<div class="container-fluid">
    @Html.ActionLink("Go back", "Index", "Search")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}