@model List<Warehouse.Helpers.SearchIndex>


@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}

<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />

</head>


<div class="container-fluid">
    <h1>Details about @TempData["searchName"]</h1>
</div>

<div class="container-fluid">
    <p>
        Search item @TempData["searchName"] does not exist in database!
    </p>

</div>

<div class="container">
    @Html.ActionLink("Back", "Index")
</div>