@model List<Warehouse.Helpers.SearchIndex>

@*@foreach (var item in Model)
    {
        @item.LaptopName
        @item.Quantity
        @item.FullPrice
    }*@


@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}

<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />

</head>


<div class="container-fluid">
    <h1>Details about @ViewBag.Name</h1>
</div>



<dl class="dl-horizontal container-fluid">

    @foreach (var item in Model)
    {
        <dt>
            @Html.DisplayNameFor(modelitem => item.Name)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelitem => item.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelitem => item.FullPrice)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.FullPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(modelitem => item.QuantityOfAllProducts)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => item.QuantityOfAllProducts)
        </dd>


    }

</dl>


<div class="container">
    @Html.ActionLink("Back", "Index")
</div>


