@model List<Warehouse.Models.LaptopModels>

@*@{
    Layout = "~/Views/Shared/_LayoutApplication.cshtml";
}*@

<head>

    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />

    <style>
        #more {
            display: none;
        }
    </style>

</head>


<div class="container-fluid">
    <h1>Details about @ViewBag.Name</h1>
</div>

<p>
    <dl class="dl-horizontal container-fluid">
        <dt>
            Number of pieces:
        </dt>
        <dd>
            @ViewBag.quantity
        </dd>

    </dl>

    <span id="dots"></span>
    <span id="more">

        <h1 style="margin-left:10px;color:darkred">Details:</h1>
        <dl class="dl-horizontal container-fluid">


            @foreach (var item in Model)
            {
                <dt>
                    @Html.DisplayNameFor(modelitem => item.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelitem => item.Quantity)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </dd>
                <dt>
                    @Html.DisplayNameFor(modelitem => item.FullPrice)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.FullPrice)
                </dd>



            }

        </dl>
    </span>
</p>

<button onclick="myFunction()" id="myBtn" style="margin-left:10px">Read more</button>


<div class="container-fluid">
    @Html.ActionLink("Go back", "Index", "Search")
</div>


<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




