@model Warehouse.Models.ComputerListModels

<head>
    <link href="@Url.Content("~/Content/myStyle.css")" rel="stylesheet" type="text/css" />
</head>

<h1>Choose computer and supplier</h1>
<div class="container-fluid">

    @Html.ActionLink("Change to classic view", "ClassicView", "ComputerList", new { @style = "padding-bottom:20px;" })
</div>

<div class="container-fluid">


    @using (Html.BeginForm("Index", "ComputerList", FormMethod.Post))
    {
        @Html.AntiForgeryToken()



        <table class="table" style="padding-top:20px">
            <tr>
                <th>
                    Name
                </th>


                <th>
                    Add supplier
                </th>
            </tr>

            @foreach (var item in Model.computers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                        @Html.HiddenFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DropDownListFor(x => x.SupplierName, Model.suppliers)
                        @Html.HiddenFor(x => x.SupplierName, Model.suppliers)
                    </td>
                </tr>
            }


        </table>
                
        <input type="submit" value="Save changes" class="btn btn-primary" style="margin-left:10px"/>
                 
              

    }

</div>